@using source.Localization
@using System.Configuration
@{
    var rs = new Resources(Request.Cookies);
    if (!string.IsNullOrEmpty(ViewBag.Lang))
    {
        rs.SetLang(ViewBag.Lang);
    }
    var resource = rs.GetResource();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/index">@resource["menu_home"]</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="checkbox" aria-haspopup="true" aria-expanded="false">@resource["menu_project"] <span class="caret"></span></a>
                        <ul class="dropdown-menu" data-hover="dropdown">
                            <li><a href="/Project/index">@resource["menu_project_list"]</a></li>
                            <li>Chức năng</li>
                            <li>Sự kiện</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="checkbox" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                        <ul class="dropdown-menu" data-hover="dropdown">
                            <li><a href="#"> Màn hình</a></li>
                            <li>Chức năng</li>
                            <li>Sự kiện</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="checkbox" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                        <ul class="dropdown-menu" data-hover="dropdown">
                            <li><a href="#"> Màn hình</a></li>
                            <li>Chức năng</li>
                            <li>Sự kiện</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="checkbox" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                        <ul class="dropdown-menu" data-hover="dropdown">
                            <li><a href="#"> Màn hình</a></li>
                            <li>Chức năng</li>
                            <li>Sự kiện</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
